.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: #E1664C;
}
.ct-series-a .ct-area {
    fill: #E1664C;
}
.ct-chart .ct-label {
    color: #000000;
    fill: #000000;
    font-size: 1em;
}
.ct-chart-pie .ct-label {
    color: #ffffff;
    fill: #ffffff;
    font-size: 1.25em;
}
.pieSliceOne {
    fill: #3498DB;
}
.pieSliceTwo {
    fill: #E1664C;
}
.pieSliceThree {
    fill: #8834DB;
}
.pieSliceFour {
    fill: #71A817;
}
